.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
}

.content-title-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

.content-title-text-1 {
  color: #14279b;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.925px;
}

.content-title-text-2 {
  color: #002265;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.925px;
}

.content-box-wrapper {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.content-box {
  width: 347px;
  height: 280px;
  border-radius: 13px;
  background: #fff;
  box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
  position: relative;
}
