.contact-me-box-wrapper {
  display: flex;
  justify-content: center;
  gap: 135px;
}

.contact-me-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  width: 166px;
}

.contact-title {
  color: #3f3d56;
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.925px;
  margin-top: 10px;
}

.contact-link {
  text-decoration: none; /* Remove underline */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}
