.footer-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 233px;
  padding-bottom: 20px;
  position: relative;
}

.design-by-text {
  color: #ffffff;
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.925px;
}

.footer-vector {
  position: absolute;
  bottom: 0px;
  z-index: -1;
  width: 100%;
}
