/* navbar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 134px;
  padding: 10px;
  height: 38px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  color: #212121;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.375px;
}

nav ul li {
  margin: 0 2.8rem;
  color: #212121;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.375px;
  cursor: pointer;
}

.highlight-text {
  padding: 10px 18px;
  border-radius: 10px;
  background: #608af5;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.375px;
}

.navbar-brand {
  display: flex;
}

.navbar-brand .text-brand-1 {
  color: #002265;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.125px;
}

.navbar-brand .text-brand-2 {
  color: #14279b;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.125px;
}
